<h1>To Do List</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="儲存" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>待辦事項</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for todo in object_list %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>
                    <a href="{% url 'todo:update' todo.id %}">修改</a>
                    <a href="{% url 'todo:delete' todo.id %}">刪除</a>
                    <a href="#">明細</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>